# Node
node_modules/
dist/
dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# OS
.DS_Store
Thumbs.db

# Secrets
.env
.env.*
!.env.example

# Build/IDE
.vscode/
.idea/
out/
build/
